*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.aab
*.keystore
*.jks

# Kotlin
.kotlin/

# Gradle
gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
